.profile {
  background-color: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(36, 36, 168);
  h2 {
    margin-left: 40px;
  }
  h2,
  h4,
  a {
    color: white;
    text-decoration: none;
  }
  .auth {
    display: flex;
    margin-right: 80px;
    h4 {
      margin: 10px;
    }
  }
}
